/*
 * 全局设置的色值
 * 参照iView: https://www.iviewui.com/components/color
 */
@primary: #409EFF;
@light_primary: #5cadff;
@dark_primary: #2b85e4;

@info: #909399;
@success: #67c23a;
@warning: #e6a23c;
@error: #f56c6c;
@white: #ffffff;
@black: #000000;

@title: #17233d;
@content: #515a6e;
@sub_color: #808695;
@disabled: #c5c8ce;
@border: #dcdee2;
@divider: #e8eaec;
@background: #f8f8f9;
